:local(.styles) {
  position: relative;

  padding: 50px 0;

  .game {
    padding: 5px;
    &:hover {
      border: 2px solid black;
    }
    &.selected {
        border: 2px solid green;
    }
  }

  h2 {
    margin-bottom: 50px;
  }

  a {
    font-size: 12px;
  }

  p {
    font-size: 14px;
    padding: 0 10%;
  }
}
