@import '../../../src/containers/App/styles/screens';

:local(.styles) {
  position: relative;

  background: url(files/nyc.jpg);
  background-size: 100% auto;

  height: 180px;

  @media (min-width: 768px) and (max-width: 992px) {
    height: 120px;
  }

  @media (#{ $phone }) {
    height: 80px;
  }

  h1.title {
    color: #FFF;
    font-size: 40px;

    margin-top: 5%;
  }

  p {
    color: #FFF;
  }
}
