:local(.styles) {
  position: relative;

  padding: 50px 0;
  width: 100px;
  height: 100px;

	.character:nth-child(12n + 1) {
		clear: both;
	};

  .character-image {
  	img {
  		width: 100%;
  	}
    &:hover {
      background-color: rgba(250, 20, 20, .5);
    }
    margin:auto;
  }

  .selected {
    .character-image {
      background-color: rgba(50, 200, 50, .5);
    }
  }

  .error {
    color: red;
  }

  .disabled {
    .overlay {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    	background-color:rgba(0,0,0,.5);
    	z-index: 10;
      margin: 0 15px 40px 15px;
    }
  }

}
