@import '../../../src/containers/App/styles/screens';


:local(.styles) {
  position: relative;

  padding: 20px 0;

  .character {
    text-align: center;
  }

  .character:nth-child(6n + 2) {
		clear: both;
	}
  @media (min-width: 992px) and (max-width: 1200px) {
    .character:nth-child(6n + 2) {
      clear: both;
    }
  }
  @media (min-width: 768px) and (max-width: 992px) {
    .character:nth-child(3n+2) {
  		clear: both;
  	}
  }

  .character-image {
  	img {
      width: 100%;
  	}
    &:hover {
      img {
        background-color: rgba(250, 20, 20, .5);
      }
    }
    margin:auto;
  }

  .selected {
    .character-image img {
      background-color: rgba(50, 200, 50, .5);
    }
  }

  .error {
    color: red;
  }
  button {
    margin-right: 15px;
  }

  .character-buttons {
    vertical-align: middle;
    text-align: center;
  }

  .disabled {
    .overlay {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    	background-color:rgba(0,0,0,.5);
    	z-index: 10;
      margin: 0 15px 40px 15px;
    }
  }

  .wrapper { 
    overflow:hidden;
  }

  .males {
    float: left;
    width: 50%;
  }

  .females {
    float: right;
    width: 50%;
  }

  .gender {
    text-decoration: underline;
    text-align: center;
  }

  .italicized {
    font-style: italic;
  }

  .divider {
    position: absolute;
    margin: auto auto;
    width: 0%;
    left: 50%;
    height:100%;
    border: 1px solid black;
  }

  .row {
    height: 100%;
    display: table-cell;
    position: relative;
  }

  .test {
    position: static !important;
  }
}
